<?xml version="1.0"?>

<!-- This document will define a very simple fake robot to get the other examples working. In production, a more complete urdf or xacro file should be used -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mock_robot">
  <xacro:arg name="frame_id" default="imu_link" />
  <xacro:arg name="gnss1_frame_id" default="gnss_1_antenna_link" />
  <xacro:arg name="gnss2_frame_id" default="gnss_2_antenna_link" />

  <link name="base_link" />
  <link name="$(arg frame_id)" />
  <link name="$(arg gnss1_frame_id)" />
  <link name="$(arg gnss2_frame_id)" />

  <joint name="sensor_joint" type="fixed">
    <parent link="base_link" />
    <child link="$(arg frame_id)" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="gnss_1_joint" type="fixed">
    <parent link="$(arg frame_id)" />
    <child link="$(arg gnss1_frame_id)" />
    <origin xyz="0 -0.7 0" rpy="0 0 0" />
  </joint>

  <joint name="gnss_2_joint" type="fixed">
    <parent link="$(arg frame_id)" />
    <child link="$(arg gnss2_frame_id)" />
    <origin xyz="0 0.7 0" rpy="0 0 0" />
  </joint>
</robot>